﻿@charset "utf-8";
/* CSS Document */

.center-box-slide 

{

margin:0 auto;
width:1000px;
}




.hm-slide-box
{
margin:0;
float:left;
width:100%;
background:#a9d966;
position:absolute;

}


.hm-slide-box-image
{
margin:0 30px auto auto;
float:left;
width:1000px;
height:600px;
background-color:aqua;
position:relative;
}


.slide-sml-box
{
margin:95px 10px 0 20px;
float:left;
width:395px;
color:#fff;	
}




.heading1
{
//float:left;

text-align:left;
font-family:National;
font-size:44px;
line-height:53px;
font-weight:100;
	
}

.slide-p
{
margin:35px 0 0 0;
//float:left;
font-family:Helvetica, Arial, sans-serif;
font-size:17px;
font-stretch:normal;
line-height:20px;
text-align:justify;
letter-spacing:1px;
	
}

.box1
{
margin:50px 0 95px 0px;
float:left;
width:395px;
height:45px;
color:#fff;

}

.try-btn
{
padding-top:12px;
font-family:National,  Helvetica, Arial, sans-serif;
margin:0px 0 0 0px;
float:left;
width:177px;
height:33px;
text-align:center;
font-size:18px;
//line-height:42px;
border-radius:5px 5px 5px 5px;
background:#22c629;
font-weight:bold;
color:#fff;
cursor:pointer;
transition:all 0.2s ease;			
}

.try-btn:hover
{
background:#1da723;
transition:all 0.2s ease;
	
}






#content_wraper5{width:100%;  margin:0px; padding:0px 0px 0px 0px; float:none;}
#content_midd5{width:1000px; margin:0px auto; padding-top:0px;}
.accmiddle-bg{background:url(../images/accmaster-middle-bg2.jpg) no-repeat; width:995px; //height:330px; }
.top-heading{width:auto; float:left; padding:12px 0px 0px 23px;}
.top-heading h1{ color:#3c481c; font-size:21px; font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px; font-weight:normal;}
/*.link-section{width:auto; margin:0px; padding:0px; float:left;}
.link-section ul{margin:0px; padding:0px;}
.link-section ul li {list-style:none; display:inline; float:left; line-height:32px;}
.link-section ul li a{background:url(../images/link-left1.png) no-repeat; height:32px; background-position:left top; display:block; color:#3c481c; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-align:center; text-decoration:none;}
.link-section ul li a span{background:url(../images/link-right-bg.png) no-repeat; height:32px; background-position:right top; display:block; padding-left:20px; padding-right:20px; float:left;}*/


.menu {
    float: right;
    margin: 0;
    padding: 0; width:665px;
}
.menu ul {
    margin: 67px 0px 0px 0px;
    padding: 0;
}
.menu ul li {
    display: inline;
    float: left;
    line-height: 32px; padding:0px 7px 0px 7px;
    list-style: none outside none;}
	.menu ul li a{color:#3c481c; font-weight:bold; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
		.menu ul li a:hover{color:#fff;}
	.menu ul li a.home { background:url(../images/home-bg.png) no-repeat; width:88px; height:32px; float:left;  }
	.menu ul li a.features{background:url(../images/features-bg.png) no-repeat; width:88px; height:32px; float:left;}
	.menu ul li a.pricing{background:url(../images/pricing-bg.png) no-repeat; width:127px; height:32px; float:left;}
	.menu ul li a.login{background:url(../images/home-bg.png) no-repeat; width:88px; height:32px; float:left;}
.slider-bg{background:url(../images/box-bg-5.jpg) no-repeat; width:935px; height:277px; float:left; margin-top:13px;}
.slider-backgourng{width:935px; margin:0px auto;}
.slider-left-part{width:284px; float:left;}
.left-part-title{width:282px; float:left; padding:13px 0px 0px 15px;}
.left-part-title h1{ color:#505050; font-size:20px;  font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px;}
.save{   color: #505050;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding-left: 14px;
    padding-top: 35px;
    text-align: justify;
    width: 250px;
}
.save ul{margin:11px 0px 0px 0px; padding:0px;}
.save ul li{list-style:none; display:inline;}
.save ul li a{text-decoration:none; color:#28ade3; }
.save ul li{list-style:none; display:inline;}
.save ul li a:hover{text-decoration:underline;}
.button{width:200px; float:left; padding-top:47px; padding-left:13px;}
.button ul{margin:0px; padding:0px;}
.button ul li{list-style:none; float:left;}
.button ul li a{background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left; text-decoration:none; text-align:center; color:#3c481c; font-size:14px; font-weight:bold; padding-top:9px;}
.button ul li a:hover{color:#ffffff;}
.credit{width:250px; float:left; color:#505050; font-size:12px; padding:7px 0px 0px 14px;}
.accmiddle-bg-2{width:995px; background:#ffffff; height:auto; float:left;} 
/*.slider-right-part{width:235px; height:244px; float:right; margin:7px 3px 0px 0px;}*/
.accmiddle-backg{width:935px; margin:0px auto;}
.content-bg{background:url(../images/content-bg.jpg) no-repeat; width:935px; height:35px; float:left;}
.content-heading{width:247px; float:left; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; padding-top:8px;}
.content-heading2{width:232px; float:left; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; padding-top:8px;}
.content-heading3{width:227px; float:left; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; padding-top:8px;}
.content-heading4{width:227px; float:left; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; padding-top:8px;}
.all-image-box{width:936px; float:left; padding-bottom:40px;}
/*.first-iamge{width:247px; height:328px; float:left;}*/
/*.second-image{width:232px; height:328px; float:left; border-right:solid 1px #cecece;}*/
/*.thirld-image{width:227px; height:328px; float:left; border-right:solid 1px #cecece;}*/
/*.fourth-image{width:227px; height:328px; float:left;}*/
.compare-product{width:995px; text-align:center; float:left; padding-bottom:50px; }
.compare-product ul{margin:0px; padding:0px;}
.compare-product ul li{list-style:none; display:inline;}
.compare-product ul li a{text-decoration:none; text-align:center; color:#28ade3; font-family:Arial, Helvetica, sans-serif; font-size:15px;}
.offer{width:943px; text-align:left; color:#28ade3; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-left:31px; float:left; padding-bottom:15px;}
.online-accounting {width:911px; float:left; padding-bottom:11px;}
.online-accounting ul {margin:0px 0px 0px 44px; padding:0px;}
.online-accounting ul li{list-style:none; display:inline; border-right:solid 1px #000000;}
.online-accounting ul li.last{border:none;}
.online-accounting ul li a{text-decoration:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#28ade3; padding:0px 20px 0px 20px;}
.online-accounting ul li a:hover{text-decoration:underline;}
.footer-link{width:911px; float:left;}
.footer-link ul {margin:0px 0px 0px 53px; padding:0px;}
.footer-link ul li.last{border:none;}
.footer-link ul li{list-style:none; display:inline; border-right:solid 1px #000000;}
.footer-link li a{text-decoration:none; font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#28ade3; padding:0px 12px 0px 12px;}
.footer-link ul li a:hover{text-decoration:underline;}
.paypal{width:929px; float:left; padding-bottom:10px;}
.copyright{width:450px; float:left; color:#505050; font-size:11px; padding:4px 0px 0px 65px; } 
/*.versign-trusted{width:301px; height:95px; float:right;}*/
.second-image{width:232px; height:328px; float:left; border-right:solid 1px #cecece; border-bottom:solid 1px #cecece;}



/*----------------------------------------------change on home page--------------------------------*/

.first-iamge{width:247px; height:328px; float:left; background:url(../images/online-simple-start.jpg) no-repeat;}
.image-content{width:247px; text-align:center; float:left; height:auto;}
.oss-icon{width:100%; height:67px; float:left; padding-top:20px; padding-bottom:15px;}
.oss-icon-heading{color:#f68c34; font-weight:bold; font-size:17px; font-family:Arial, Helvetica, sans-serif; width:100%; float:left; padding-bottom:27px;}
.free-days{width:100%; float:left; color:#505050; font-size:12px; }
.try-it-free-icon-bg{width:100%; float:left;}
.try-it-free-icon-bg ul{margin:15px 0px 0px 75px;  padding:0px;}
.try-it-free-icon-bg ul li {list-style:none; display:inline;}
.try-it-free-icon-bg ul li a{background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; color:#3c481c; font-weight:bold; font-size:14px; font-family:Arial, Helvetica, sans-serif; height:32px; float:left; text-align:center; padding-top:9px;}
.try-it-free-icon-bg ul li a:hover{color:#ffffff;}
.easy-create-invoice{width:100%; float:left; color:#505050; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding-top:9px;}
.image-content2{width:232px; text-align:center; float:left; height:auto;}
.oss-icon-heading2{color:#28ade3; font-weight:bold; font-size:17px; font-family:Arial, Helvetica, sans-serif; width:100%; float:left; padding-bottom:27px;}
.thirld-image{width:227px; height:328px; float:left; border-right:solid 1px #cecece; border-bottom:solid 1px #cecece;}
.oss-icon-heading3{color:#f68c34; font-weight:bold; font-size:17px; font-family:Arial, Helvetica, sans-serif; width:100%; float:left; padding-bottom:27px;}
.image-content3{width:227px; text-align:center; float:left; height:auto;}
.fourth-image{width:227px; height:328px; float:left; background:url(../images/fourth-iamge-4-bg.jpg) no-repeat;}
.image-content4{width:227px; text-align:center; float:left; height:auto;}
.oss-icon-heading4{color:#f3a51b; font-weight:bold; font-size:17px; font-family:Arial, Helvetica, sans-serif; width:100%; float:left; padding-bottom:27px;}


.slider-right-part{width:235px; height:244px; float:right; margin:20px 3px 0px 0px; background:url(../images/all-products.png) no-repeat;}
.slider-content-box{width:100%; text-align:center; float:left;}
.slider-content-title{width:100%; text-align:center; float:left; padding-top:8px;}
.slider-content-title h1{ color:#3c481c; font-size:18px; font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px;}
.list-items{width:100%; float:left; text-align:left;}
.list-items ul{margin:9px 0px 0px 0px; padding:0px;}
.list-items ul li {list-style:none; line-height:27px;}
.anytime{    float: left;
    padding-left: 11px;
    width: 84%;}
	.right-mark{float:left; padding-top:8px;}
.protected-data{width:100%; float:left; color:#505050; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding:5px 0px 0px 18px; text-align:left;}
.versign-trusted{width:301px; height:50px; float:right; text-align:right}
.versign-trusted ul{margin:0px; padding:0px; }
.versign-trusted ul li{list-style:none; display:inline;}
.versign-trusted ul li a{text-decoration:none; padding-left:7px; padding-right:7px;}



/*-------------------------------------------------------Features Page CSS 2nd May 2012----------------------------------------------------------------------------*/

.acc-features-middle-bg{background:url(../images/accmaster-features-middle-bg2.jpg) no-repeat; width:995px; height:51px; }
.accmiddle-features-bg-2{width:993px; background:#ffffff; height:auto; float:left; border-left:solid 1px #e1e1e1; border-right:solid 1px #e1e1e1;} 
.features-wrapper{width:949px; margin:0px auto;}
.features-box{width:949px; float:left; margin:0px; padding:0px;}
.features-box-left{width:469px; float:left; margin-right:11px;}
.fea-image-1{width:192px; height:113px; float:left; margin-right:7px; padding-top:7px;}
.fea-image-content{width:270px; float:left;}
.fea-image-content-title{width:100%; float:left;}
.fea-image-content-title h1{ color:#505050; font-size:13px; font-family:Arial, Helvetica, sans-serif; }
.fea-image-content-details{width:100%; float:left; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;  color:#505050; line-height:18px;}
.features-box-right{width:469px; float:left;}
.fea-image-2{width:192px; height:113px; float:left; margin-right:7px; padding-top:7px;}
.fea-image-content-right{width:270px; float:left;}
.fea-image-content-right-title{width:100%; float:left;}
.fea-image-content-right-title h1{ color:#505050; font-size:13px; font-family:Arial, Helvetica, sans-serif; }
.fea-image-content-right-details{width:100%; float:left; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;  color:#505050; line-height:18px;}
.vertical-line{border:solid 1px #E1E1E1; float:left; width:949px; margin-top:18px; *height:0px;}
.content-features{width:100%; float:left; padding-bottom:11px;}
.secure-data{width:949px; float:left; padding-bottom:22px;}
.secure-data-content{width:661px; float:left; margin-right:30px; background:url(../images/security_box_bg.jpg) no-repeat; height:100px; margin-top:11px; }
.secure-data-box{width:650px; float:left;}
.secure-image-shield{width:44px; height:65px; float:left; margin-right:11px; padding:22px 0px 0px 20px;}
.secure-details{width:572px; float:left; color:#505050; font-size:13px; padding-top:22px;}
.try-it-free{width:258px; float:left; margin-top:34px;}
.try-it-free-button{width:100%; float:left;}
.try-it-free-button ul{margin:0px; padding:0px;}
.try-it-free-button ul li{list-style:none; display:inline;}
.try-it-free-button ul li a{background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left; text-decoration:none; text-align:center; color:#3c481c; font-size:14px; font-weight:bold; padding-top:9px;}
.try-it-free-button ul li a:hover{color:#ffffff;}
.no-require{width:50%; text-align:center; font-size:11px; color:#505050; float:left; }
.time-cancel{width:100%; text-align:left; font-size:11px; color:#505050; float:left;}


/*----------------------------------------------------------------Product & Pricing Page CSS-------------------------------------------------------------*/


.pricing-iamge-box{width:935px; float:left;}
.currently-books{width:256px; float:left; margin-right:15px;}
.books-title{width:100%; float:left; padding-top:43px; }
.books-title h1{margin:0px; padding:0px; float:left; color:#505050; font-size:15px; font-family:Arial, Helvetica, sans-serif;}
.books-details{width:191px; color:#505050; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left; padding-top:11px; float:left; padding-bottom:97px;}
.books-details ul{margin:11px 0px 0px 0px; padding:0px;}
.books-details ul li{list-style:none; display:inline;}
.books-details ul li a {text-decoration:none; color: #28ADE3;}
.books-details ul li a:hover{text-decoration:underline;}
.pricetxt{width:100%; color:#505050; font-size:12px; float:left; font-family:Arial, Helvetica, sans-serif;}
.pricing-iamge-bor-right-section{width:664px; float:left;}
.pricing-image-right-1{width:164px; float:left; height:232px;  background: url(../images/pricing-image-1.jpg) no-repeat; margin-top:11px;}
.online-image-content{width:159px; text-align:center; float:left; padding-top:9px;}
.onlinesimle-image{width:100%; float:left; padding-top:0px;}
.online-simple-heading{width:100%; float:left; color:#f68c34; font-size:14px; font-weight:bold;}

.online-simple-heading ul{margin:6px 0px 0px 38px; padding:0px; }
.online-simple-heading ul li{list-style:none; display:inline;}
.online-simple-heading ul li a{color:#3c481c; padding-top:9px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left;}
.online-simple-heading ul li a:hover{color:#ffffff;}
.online-simple-heading2{width:100%; float:left; color:#28ade3; font-size:14px; font-weight:bold;}
.online-simple-heading2 ul{margin:6px 0px 0px 38px; padding:0px; }
.online-simple-heading2 ul li{list-style:none; display:inline;}
.online-simple-heading2 ul li a{color:#3c481c; padding-top:9px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left;}
.online-simple-heading2 ul li a:hover{color:#ffffff;}
.online-simple-heading3{width:100%; float:left; color:#f5a71b; font-size:14px; font-weight:bold;}
.online-simple-heading3 ul{margin:6px 0px 0px 38px; padding:0px; }
.online-simple-heading3 ul li{list-style:none; display:inline;}
.online-simple-heading3 ul li a{color:#3c481c; padding-top:9px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left;}
.online-simple-heading3 ul li a:hover{color:#ffffff;}
.online-simple-heading4{width:100%; float:left; color:#0989bb; font-size:14px; font-weight:bold;}
.online-simple-heading4 ul{margin:6px 0px 0px 38px; padding:0px; }
.online-simple-heading4 ul li{list-style:none; display:inline;}
.online-simple-heading4 ul li a{color:#3c481c; padding-top:9px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; background:url(../images/try-free-button.png) no-repeat; width:90px; height:32px; float:left;}
.online-simple-heading4 ul li a:hover{color:#ffffff;}
.no-conect-require{width:100%; float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#505050;}
.free-days-30{width:100%; float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#505050; padding-top:7px;}
.access{ width:933px; float:left; height:auto; border-left:solid 1px #e5e8e9; border-right:solid 1px #e5e8e9;}
.access-items{width:920px; margin:20px auto 0px auto;}
.access-items-list{width:920px; float:left; border-bottom:solid 1px #bfe4f7; padding-bottom:11px;}
.access-title{width:100%; float:left; color:#505050; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
.access-items-box{width:920px; margin:7px auto 0px auto;}
.access-items-list-box{width:920px; float:left; border-bottom:solid 1px #e6e9ea; padding-bottom:11px; margin-bottom:7px;}
.acees-imtes-1{width:270px; float:left; color:#28ade3; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.user-1{width:158px; float:left; text-align:center; color:#505050; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.user-2{width:158px; float:left; text-align:center; color:#505050; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.user-3{width:158px; float:left; text-align:center; color:#505050; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.user-4{width:158px; float:left; text-align:center; color:#505050; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.blue-border-bottom{width:920px; float:left; border-bottom:solid 1px #000000;}
.access-items-list-box2{width:920px; float:left; border-bottom:solid 1px #e6e9ea; padding-bottom:11px; margin-bottom:7px; padding-top:7px;}
.access-items-list-box-last{width:920px; float:left; border-bottom:solid 1px #e6e9ea; padding-bottom:11px; margin-bottom:20px; padding-top:7px;}
.start-button{ background:url(../images/start-free-trial-bg.png) no-repeat; width:185px; height:43px; float:left; line-height:43px; }
.start-button a{ font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; float:left; text-align:center; color:#3c481c; padding-left:22px;}
.start-button:hover{background:url(../images/hover-start-free-trial-bg.png) no-repeat;}
.secur-image-lock{width:82px; height:15px; float:left; padding:11px 0px 0px 11px;}





/*------------------------------------------------------------Privacy Page CSS----------------------------------------------15May2012---------------------------------------------------------*/

.features-left-link-box{width:252px; float:left; background:url(../images/features-left-link-bg.gif) no-repeat;}
.left-link-Content{margin: 0px 10px 5px 15px;
    padding: 10px 0 0;}
.left-link-Content h2{color:#3C481C; font-size:15px; margin:0px; padding:0px; font-weight:bold;}
.features-box{width:949px; float:left; margin:22px 0px 0px 0px; padding:0px; }
.left-link-Content ul{ margin: 0 0px 10px 0px; padding:0px 0px 0px 15px; }
.left-link-Content ul li{margin: 0;
    padding: 0px 0px 5px 0px;}
.left-link-Content ul li ul{    margin: 0;
    padding: 0px 0px 5px 30px;
}
.left-link-Content ul li ul li{padding:5px 0px 0px 0px;}
.left-link-Content ul li a{    color: #3C481C; font-size:12px;
    text-decoration: none;
}
.left-link-Content ul li a:hover{text-decoration:underline;}

.feat-right-part-boxNew{ background:url(../images/top-feat-right-part-bg.jpg) no-repeat; width:693px; float:left; margin-bottom:30px;}
.feat-middle-right-part-box{background:url(../images/middle-feat-right-part-bg.jpg) repeat-y; width:693px; float:left; margin-top:5px;}



/*.feat-right-part-box{ background:url(../images/feat-right-part-bg.gif) no-repeat; width:693px; float:left; margin-bottom:30px;}*/
.feat-right-part-box{ background:url(../images/top-feat-right-part-bg-1.jpg) no-repeat; width:693px; float:left;}


.feta-right-part-content{width:693px; margin:5px 0px 0px 0px; background:url(../images/middle-feat-right-part-bg.jpg) repeat-y; float:left;}
.feat-right-box-dtls{width:645px; float:left; padding-left:22px;}

.ft-right-box-details{width:645px; float:left;  background:url(../images/image-1.jpg) no-repeat right top; padding-bottom:30px;}
.ft-right-box-details1{width:645px; float:left;  background:url(../images/account.jpg) no-repeat right top; padding-bottom:30px;}
.ft-right-box-details2{width:645px; float:left;  background:url(../images/round-logo.jpg) no-repeat right top; padding-bottom:30px;}
.ft-right-box-details3{width:645px; float:left;  background:url(../images/Received.jpg) no-repeat right top; padding-bottom:30px;}
.ft-right-box-details h1{font-size:25px; color:#3C481C;}
.ft-right-box-details H4 {
    color: #3C481C;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 10px;
}
.what-type{width:645px; float:left; padding-bottom:11px;}
.what-type-image{width:75px; float:left;}

.what-type-content{width:570px; float:left;}
.what-type-content h2{font-size:14px;  color: #3C481C;} 
.what-type-content ul{margin:0px; padding:0px 0px 0px 18px;}
.what-type-content ul li{line-height:normal; font-size:13px;   color: #3C481C;}



.what-type-trust-image {width:75px; height:42px; float:left; margin-top:15px;}
.what-type-content-2{width:544px; float:left; margin-right:21px;}
.what-type-content-2 h2{font-size:14px;  color: #3C481C;}
.what-type-content-2 p{width:544px; text-align:justify; float:left; font-size:13px;   color: #3C481C; margin-top:-5px;}
.what-type-content-2 a{color:#28ADE3; text-decoration:none;}
.what-type-content-2 a:hover{text-decoration:underline;}
.feat-right-part-bottom{width:693px; height:16px; float:left;}

.normaltextinpages
{
color:black;
font-size :18px;
font-family:Calibri;
font-weight:normal;

}

.img-main-box
 {
float:left;
margin:0px auto; 
width:73%;

}

.img-sml-box 
{
float:left; 
margin:0px 25px 20px 25px; 
width:172px; 
height:98px;
background:url(../images/bg-box.png)no-repeat;

}

.img-h3
 {
float:left;
font-family:Calibri;
font-size:15px;
padding-left:25px;
margin:10px 0 0px 0px; 
width:96%;
color:#226744;

}






















