

			
			
/*--login form--*/
.loginformwindow{width:513px; padding:25px 0 25px 0; font-family:Verdana, Arial, Helvetica, sans-serif; margin:0 auto 0 auto}
.loginformwindow .heading{ font-size:30px; font-family:Arial, Helvetica, sans-serif; color:#676767;; width:100%; margin-bottom:8px; text-align:center}
.loginformwindowform{width:390px; margin:0 auto 0 auto;}
.loginformwindowformmiddle{ background:url(../images/loginformmiddle.jpg) repeat-y;}
.logintable{width:284px;padding:18px 0 20px 0; margin:0 auto 0 auto; font-size:12px; color:#fff}
.logintableloginhead{ font-size:20px; color:#fff}
.float_left{ float:left}
.forgotpassword{ text-decoration:underline; color:#fff}
.forgotpassword:hover{ text-decoration:none; color:#fff}
.logintextimg{ background:url(../images/logintextimg.jpg) no-repeat; width:257px; height:33px; border:0px; padding-left:10px}


