div.sdmenu {
	/*width: 235px;*/
	width: 100%;
	font-family: Arial,verdana,sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	background: url(bottom.gif) no-repeat  right bottom;
	color:#FF0;
}
div.sdmenu div {
	background: url(../images/left_menu_header_rep_x.png) repeat-x;
	overflow: hidden;
}
/*div.sdmenu div:first-child {
	background: url(toptitle.gif) no-repeat;
}*/
div.sdmenu div.collapsed {
	height: 30px;
}
div.sdmenu div span {
	display: block;
	padding: 7px 15px;
	font-weight: bold;
	color:#3c481c;
/*	background:url(../images/minus_left_icon.png) 205px 3px no-repeat;*/
    background  :url(../images/minus_left_icon.png) 90% 3px no-repeat;
	cursor: default;
	border: 1px solid #62ad1c;
}
div.sdmenu div.collapsed span {
	/*	background:url(../images/plus_left_menu_icon.png) 205px 3px no-repeat;*/
	background:url(../images/plus_left_menu_icon.png) 90% 3px no-repeat;
}
div.sdmenu div a {
	padding: 7px 10px;
	background: #e4fcc8;
	border-bottom:1px solid #596a2a;
	display: block;
	border-bottom:1px dotted #44511e;
	color:#596a2a;
	font-size:12px;
	text-decoration:none;
}
div.sdmenu div a.current {
	background :#d3e4a4;
	text-decoration:none;
	border-bottom:1px dotted #44511e;
   
}
div.sdmenu div a:hover {
	background : #d3e4a4 url(linkarrow.gif) no-repeat right center;
	color:#333;
	text-decoration: none;
}