.tntSection2Default{
	display:none;
}

#sign-up-free-5sku-navigation{
	background:url(../images/Rails_NO_highlighted_2.jpg) no-repeat;
	height:393px;
	top:340px;
}

.sign-up-free-5sku-navigation-ss{
	background:none;
	position:absolute;
	left:8px;
	width: 183px !important;
	height: 408px;
}

.sign-up-free-5sku-navigation-ss-hover{
	background: url(../images/ss_column.gif) no-repeat -3px 0;
	padding-top:20px;
	z-index: 2;
}

.sign-up-free-5sku-navigation-ess{
	background:none;
	position:absolute;
	left:189px;
	width: 183px !important;
	height: 408px;
}

.sign-up-free-5sku-navigation-ess-hover{
	background: url(../images/ess_column.gif) no-repeat -3px 0;
	padding-top:20px;
	z-index: 2;
}

.sign-up-free-5sku-navigation-op{
	background:none;
	position:absolute;
	left:370px;
	width: 183px !important;
	height: 408px;
}

.sign-up-free-5sku-navigation-op-hover{
	background: url(../images/op_column.gif) no-repeat -3px 0;
	padding-top:20px;
	z-index: 2;
}

.sign-up-free-5sku-navigation-essp{
	background:none;
	position:absolute;
	left:552px;
	width: 183px !important;
	height: 408px;
}
.sign-up-free-5sku-navigation-essp-hover{
	background: url(../images/essp_column.gif) no-repeat -3px 0;
	z-index: 2;
	padding-top:20px;
}

.sign-up-free-5sku-navigation-opp{
	background:none;
	float:left;
	position:absolute;
	left:733px;
	width: 182px !important;
	height: 408px;
}

.sign-up-free-5sku-navigation-opp-hover{
	background: url(../images/opp_column.gif) no-repeat -4px 0;
	padding-top:20px;
	z-index: 2;
}

.navigation-ss-box{
	margin-top:67px;
	margin-left:67px;
	width:59px !important;
	height:67px !important;
}

.navigation-ess-box{
	margin-top:67px;
	margin-left:53px;
	width:59px !important;
	height:67px !important;
}

.navigation-op-box{
	margin-top:67px;
	margin-left:55px;
	width:59px !important;
	height:67px !important;
}

.navigation-essp-box{
	margin-top:65px;
	margin-left:45px;
	width:98px !important;
	height:73px !important;
}

.navigation-opp-box{
	margin-top:65px;
	margin-left:41px;
	width:99px !important;
	height:73px !important;
}

#sign-up-free-5sku-navigation .try-it-free-button{
	display:block;
	width:86px;
	height:31px;
	margin-bottom:5px;
	margin-top:10px;
	background:url(/qbo/categories/home/qbo_lineup/images/Column_button.gif) no-repeat;
}

#sign-up-free-5sku-navigation .try-it-free-button:hover{
	background-position:0 -33px;
}

.try-it-button-sep-ss{
	margin-left:55px !important;
}

.try-it-button-sep-ess,
	.try-it-button-op{
	margin-left:43px !important;
}

.try-it-button-essp,
	.try-it-button-opp{
	margin-left:48px !important;
}

#best-value-label{
	position:absolute;
	top:45px;
	left:-18px;
	z-index:100;
}

#best-value-label.best-value-label-hover{
	top:65px;
	left:-18px;
}

.pricing-details {
	font-size:10px;
	color:#505050;
	margin:0 0 0 17px;
	text-align:center;
}

.sale-price{
	color:#ff9600;
}

.original-price{
	color:#757575;
}

.strikethrough{
	text-decoration:line-through;
	color:#757575;
}

.navigation-paragraph, .sign-up-free-5sku-navigation-paragraph{
	margin:20px 0 0 17px;
}

