.tntSection1Default{
	display:none;
}

#slider{
	position:absolute;
	top:50px;
	left:10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.spriteHero{
	background:url(../images/Hero_images_3.jpg) no-repeat !important;
	float:left;
	position:relative;
	width:926px !important;
	height:300px !important;
	margin-left:5px;
}

#sign-up-scroll{
	width:926px !important;
	margin:-52px 0px 0px -30px;
	height:300px !important;
}

#sign-up-container{
	width:5000px;
}

#sign-up-panel{
	width:5000px;
	height:300px !important;
}

#home_sliding_top_section #sign-up-free-5sku-main-content-interior-box-image-OSS{
	background-position:0px 0 !important;
}

#home_sliding_top_section #sign-up-free-5sku-main-content-interior-box-image-OE{
	background-position:-926px 0 !important;
}

#home_sliding_top_section #sign-up-free-5sku-main-content-interior-box-image-OP{
	background-position:-1851px 0 !important;
}

#home_sliding_top_section #sign-up-free-5sku-main-content-interior-box-image-OEP{
	background-position:-2779px 0 !important;
}

#home_sliding_top_section #sign-up-free-5sku-main-content-interior-box-image-OPP{
	background-position:-3707px 0 !important;
}

#hero-left-content-oss .product-heading{
	color:#f8670a;
}

#hero-left-content-oe .product-heading,
	#hero-left-content-oep .product-heading{
	color:#0277a5;
}

#hero-left-content-op .product-heading,
	#hero-left-content-opp .product-heading{
	color:#b08817;
}

.hero-left-content{
	margin:55px 0 0 45px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h2.product-heading{
	font-size:23px;
	font-weight:normal;
	float:none;
	font-family:"Verdana";
}

h3.product-subheading{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	margin:12px 0 0 5px;
	float:none;
}

.hero-left-content ul{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	list-style:disc;
	margin:14px 0 18px 22px;
}

.hero-left-content li{
	margin-bottom:12px;
}

.cta-button-container{
	background-color:#f8f8f9;
	border-left:#e1dfdf 1px solid;
	border-right:#e1dfdf 1px solid;
	width:334px;
	overflow:hidden;
}

.cta-button-container a.try-it-free-button{
	display:block;
	float:left;
	width:187px;
	height:55px;
	margin-left:7px;
	background:url(/qbo/categories/home/qbo_lineup/images/hero_button.gif) no-repeat;
}

.cta-button-container a:hover.try-it-free-button{
	background-position:0 -57px;
}

.cta-button-container .pricing{
	float:left;
	font-size:10px;
	color:#757575;
	margin:10px 0 0 11px;
	line-height:17px;
}

.pricing .original-price{
	text-decoration:line-through;
}

.pricing .promo-pricing{
	color:#f0640f;
}


#hero-left-content-oep .pricing,
	#hero-left-content-opp .pricing{
	margin:0 0 0 11px;
}

.cta-button-container .thirty-day-trial{
	font-size:11px;
}

.guarantee{
	font-size:11px;
	line-height:16px;
	color:#6a6a6a;
	margin:5px 0 0 10px;
}




