body{
   width:100%;
   margin:0px;
   padding:0px;
   background:#e4fcc8;
   font-family:Calibri, Arial, Helvetica;
   font-size:14px;
   color:#000;
   text-align:justify;
}

.float_L{float:left;}

.float_R{float:right;}

.clr{clear:both;}

img {border-style: none;
	border-color: inherit;
	border-width: medium;
	margin: 0px;
	padding: 0px;
	height: 21px;
}

a img{border:none; margin:0px; padding:0px;}

a{text-decoration:none;}

a:hover{color:#758603;}

a:visited{}

.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}

.marginB15{margin-bottom:15px;}

.V_align_midd{vertical-align:middle;}

.padd10{padding-left:25px;}

.input_box1{width:152px; height:15px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; font-size:12px; color:#333; border:none; background:none;}

#header_wraper{width:100%;  float:left; margin:0px ; padding:0px 0px 0px 0px; background:url(../images/header_bg.png) repeat-x;}
.logo{width:auto; float:left; margin:0px 0px 0px 0px; padding:0px 0px 8px 0px ;}

#content_wraper{width:100%;  margin:0px; padding:100px 0px 0px 0px; }
#content_midd{width:502px;  margin:0px auto; padding:0px 0px 40px 0px; }
.content_midd_in{width:502px;  margin:0px 0px 0px 0px; height:316px; padding:115px 0px 0px 0px;  background:url(../images/login_bg.png) 0 0 no-repeat;}
.cont_midd_row{width:502px; height:auto; margin:0px 0px 0px 0px; padding:0px 0px 16px 0px; float:left; font-size:18px; color:#FFF; }
.cont_midd_row span{  padding:0px 0px 0px 130px; }
.cont_midd_row2{width:387px; height:auto; margin:0px 0px 0px 0px; padding:5px 0px 6px 115px; float:left; color:#FFF; }
.cont_midd_text{width:60px; height:auto; margin:0px 0px 0px 0px; padding:0px 0px 0px 20px; float:left; font-size:12px; font-weight:bold; color:#163102; }
.cont_midd_input{width:237px; height:21px; margin:0px 0px 0px 0px; padding:0px 0px 0px 5px; font-size:12px; float:left; color:#FFF; background:url(../images/input_bg.png) 0 0 no-repeat; }
.cont_midd_row3{width:306px; height:auto; margin:0px 0px 0px 0px; padding:2px 0px 0px 196px; float:left; color:#FFF; }
.forgot{font-size:12px; color:#015c7a;}
.cont_midd_row4{width:306px; height:auto; margin:0px 0px 0px 0px; padding:8px 0px 0px 196px; float:left; }

/************************************************** new css 3-01-2012 *******************************************/
.cont_midd_text{width:90px; height:auto; margin:0px 0px 0px 0px; padding:0px 0px 0px 20px; float:left; font-size:12px; font-weight:bold; color:#163102; }
.cont_midd_row4{width:306px; height:auto; margin:0px 0px 0px 0px; padding:0px 0px 0px 196px; float:left; }
.content_midd_in{width:502px;  margin:0px 0px 0px 0px; height:316px; padding:114px 0px 0px 0px;  background:url(../images/login_bg.png) 0 0 no-repeat;}
#footer_wraper{width:100%; margin:0px; padding:14px 0px 15px 0px; background:url(../images/footer_bg.png) repeat-x; font-size:12px; text-align:center; color:#cefe93; font-family:verdana,Calibri;}


/*-------------------------------------------------------- iner page css----------------------------------------------------------*/

.content_left{width:31%;  margin:0px; padding:0px 0px 0px 10px; float:left; }
.cont_le_box{width:310px;  margin:0px; padding:30px 0px 0px 0px; float:left; background:url(../images/left_round_top.png) left top no-repeat;}
.cont_le_boxin{width:310px;  margin:0px; padding:0px 0px 59px 0px; float:left; background:url(../images/left_bottom_shadow.png) left bottom no-repeat;}
.cont_le_box_midd{width:310px;  margin:0px; padding:0px 0px 0px 0px; float:left; background:url(../images/left_midd_rep_y.png) repeat-y;}
.cont_le_box_list{width:310px;  margin:0px; padding:0px 0px 0px 0px; text-transform:uppercase;}
.cont_le_box_list ul{list-style:none;  margin:0px; padding:0px 19px 0px 19px;}
.cont_le_box_list li{display:block;  margin:0px 0px 2px 0px; padding:0px;  background:#49821c url(../images/li_bottom_pic.png) center bottom no-repeat;}
.cont_le_box_list li img{vertical-align:middle;}
.cont_le_box_list li a {display:block; color:#FFF; font-size:22px; font-weight:bold;  margin:0px; padding:3px 5px 5px 5px;}
.cont_le_box_list li a:hover{background:#356410;}


.content_right{width:67%;  margin:0px; padding:0px 10px 0px 0px; float:right; }
.cont_ri_box{width:673px;  margin:0px; padding:33px 0px 0px 0px; float:left; background:url(../images/right_round_top.png) left top no-repeat;  }
.cont_ri_boxin{width:673px;  margin:0px; padding:0px 0px 60px 0px; float:right; background:url(../images/right_bottom_round.png) left bottom no-repeat; }
.cont_ri_box_midd{width:673px;  margin:0px; padding:0px 0px 0px 0px; float:right; background:url(../images/right_midd_rep_y.png) repeat-y; }
.cont_ri_box_header{width:673px;  margin:0px; padding:0px 0px 15px 0px; font-size:34px; color:#49821c; }
.cont_ri_box_header span{ margin:0px; padding:0px 0px 0px 40px; }
.cont_ri_box_text{width:673px;  margin:0px; padding:20px 0px 0px 0px;  color:#49821c; min-height:330px;  float:left; background:url(../images/right_shdow.png) top center no-repeat; }
.cont_ri_box_textin{width:593px;  margin:0px; padding:0px 40px 20px 40px; line-height:18px; font-size:13px; font-size:13px; color:#43463d; float:left; background:url(../images/shadow_bottom.png) bottom center no-repeat; }
.input_box2{width:270px; height:15px; padding:5px 5px 5px 5px ; margin:0px 0px 0px 0px ; font-size:12px; color:#494138; background:#FFF; border:1px solid #cfd0d0;}


/*-------------------------------------------------------- left midd page css----------------------------------------------------------*/
#content_left_wraper{width:100%;  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; float:left;}
#content_left_main{width:100%;  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; float:left;}
.content_left_main_top{width:100%; height:20px;  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; float:left; background:url(../images/midd_left_top.png) 0 0 no-repeat;}
.content_left_main_midd{width:100%; margin:0px 0px 0px 0px; min-height:560px;height:auto; padding:0px 0px 0px 0px; float:left; background:#fff; }
.content_left_partL{width:15%; margin:0px 0px 0px 0px; padding:10px 10px 10px 10px; float:left;min-height:620px;height:auto; border-right:1px solid #b1b89b;}
.content_left_partR{width:82.8%; margin:0px 0px 0px 0px; padding:10px 0px 0px 0px; float:left;min-height:620px;}
.content_left_partR_header{width:100%; height:40px; line-height:40px; margin:0px 0px 0px 0px; padding:0px 0px 0px 10px; float:left; color:#000; font-size:18px; background:url(../images/right_header_bg.png) repeat-x;}

.content_left_main_bottom{width:80%; height:20px;  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; float:left; background:url(../images/midd_left_bottom.png) left bottom no-repeat;}
/*-------------------------------------------------------- left midd page css end----------------------------------------------------------*/


.gridItem{background:#ffffff;}
.gridItem td{border:1px dotted #000000;}
.gridheader{background:#85A68C;color:#ffffff;}
.gridheader td{border:1px dotted #000000;}
.gridAlternateItem{background:#DDEEDC;}
.gridAlternateItem td{border:1px dotted #000000;}

.gridpadding{ padding-left:10px}
.gridFooter{background:#85A68C;color:Black; font-weight:bold; text-align:right;}

