﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BarCode3.aspx.cs" Inherits="_BarCode3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>WebForm1</title>
<%--  <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
  <meta name="CODE_LANGUAGE" Content="C#">
  <meta name="vs_defaultClientScript" content="JavaScript">
  <meta name="vs_targetSchema" 
        content="http://schemas.microsoft.com/intellisense/ie5">--%>
</head>
<body>
    <form id="form1" runat="server">

    <asp:Label ID="lblfontname" runat="server"></asp:Label>
   <%--   <asp:Image id="myBarCode"  runat="server"></asp:Image>--%>

    </form>
</body>
</html>
