﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BoutiqueInnermaster.master" AutoEventWireup="true" CodeFile="BoutiqueWelcome.aspx.cs" Inherits="BoutiqueWelcome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphead" Runat="Server">
  <asp:Label runat="server" ID="lblTitle"></asp:Label>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainHome" Runat="Server">
</asp:Content>

