﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StaticPages.master" AutoEventWireup="true"
    CodeFile="Browser.aspx.cs" Inherits="Browser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div id="content_wraper5">
        <div id="content_midd5">
            <div class="accmiddle-features-bg-2" style="min-height: 520px">
                <div class="features-wrapper">
                    <div class="features-box">
                        <div style="height: 440px; width: 100%; text-align:center">
                        <br />  <br />
                           <span style=" font-size:20px; font-weight:bold;"> AccMaster is compatible with following browsers with a resolution of 1400 x 900</span>
                            <div style="margin-top: 110px; width: 100%; text-align: center; padding-left:235px;">
                                <div style="float: left; width: 120px; height: 120px; margin: 20px; border: solid 0px black">
                                    <img alt="Chrome" src="images/Chrome.jpg" /><br />
                                    Chrome</div>
                                <div style="float: left; width: 120px; height: 120px; margin: 20px; border: solid 0px black">
                                    <img alt="Firefox" src="images/Mozila.jpg" /><br />
                                    Firefox</div>
                                <div style="float: left; width: 120px; height: 120px; margin: 20px; border: solid 0px black">
                                    <img alt="Safari" src="images/safari.jpg" /><br />
                                    Safari</div>
                            </div>
                        </div>
</asp:Content>
