﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CheckOut.aspx.cs" Inherits="CheckOut" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="JavaScript">
        function submitform() {
            document.forms[0].submit();
        }
    </script>
</head>
<body>
    <form action='https://www.2checkout.com/checkout/purchase' method='post'>
    <input type='hidden' name='sid' value='1924017'>
    <input type='hidden' name='mode' value='2CO'>
    <input type='hidden' name='li_0_type' value='AccMaster'>
    <input type='hidden' name='li_0_name' value='Software Consulting'>
    <input type='hidden' name='li_0_price'value="<%=Amount%>" />
    <input type="hidden" name="currency" value="INR">
    <input type='hidden' name='li_0_quantity' value='1'>
    <input type='hidden' name='li_0_tangible' value='N'>
    <input type='hidden' name='demo' value='N'>
      
    <%-- <input name='submit' type='submit' value='Buy from 2CO'>--%>
    </form>
</body>
</html>
<script>    submitform();</script>
