﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" AutoEventWireup="true"
    CodeFile="Exception.aspx.cs" Inherits="Exception" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainHome" runat="Server">
   <div id="content_wraper">
        <div id="content_midd">
        
   
    <div style="margin: auto; text-align: center; min-height: 300px">
        <b style="font-size: 18px; line-height: 3; text-align: center">OOPS! There is some technical
            problem.<br />
            Try again.</b>
    </div>      </div>    </div>
</asp:Content>
