﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StaticPages.master" AutoEventWireup="true" CodeFile="Legal.aspx.cs" Inherits="Legal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div id="content_wraper5">
        <div id="content_midd5">
            <div class="acc-features-middle-bg">
                <div class="top-heading">
                    <h1>
                        Legal</h1>
                </div>
            </div>
            <div class="accmiddle-features-bg-2" style="min-height: 520px">
                <div class="features-wrapper">
                    <div class="features-box">
                       
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam felis, tempor
                                a aliquet at, vulputate vitae enim. Integer euismod, lorem a congue adipiscing,
                                odio metus ultrices orci, id venenatis elit tortor id nulla. Sed lectus purus, scelerisque
                                nec auctor sed, dapibus egestas libero. Nulla vulputate auctor pharetra. Quisque
                                vitae enim vitae ipsum laoreet sagittis. Quisque pharetra nibh eu nisi convallis
                                quis vehicula nunc lacinia. Etiam tristique, purus vitae aliquet luctus, erat purus
                                molestie lectus, a congue libero nunc in nisi. Aliquam erat volutpat. Maecenas vulputate
                                molestie convallis.</p>
                            <p>
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Phasellus faucibus viverra quam eu pretium. Mauris accumsan massa vel erat
                                porta pharetra. Integer at risus nisl, a ultrices mauris. Mauris sapien nibh, porta
                                at porttitor at, aliquam in nisi. Fusce arcu orci, pellentesque viverra venenatis
                                et, laoreet sit amet odio. Maecenas at arcu diam. Ut est nibh, placerat ac molestie
                                sed, sodales sit amet tortor.</p>
                            <p>
                                In tincidunt, velit sit amet dapibus vehicula, diam lacus rhoncus eros, eu laoreet
                                dui mauris quis nunc. In eget congue purus. In mi libero, tincidunt tempor posuere
                                rhoncus, elementum vel nunc. In sit amet augue nisi. Nam nisl neque, gravida a interdum
                                pretium, cursus laoreet tortor. Donec sed convallis tellus. Duis accumsan posuere
                                varius. Ut laoreet, est ut cursus pulvinar, diam nulla sagittis enim, in bibendum
                                tellus urna et turpis. Vivamus et risus nulla. Vivamus vestibulum, nulla non sollicitudin
                                auctor, lorem nunc tincidunt ipsum, non feugiat nulla sem quis orci. Etiam euismod
                                egestas condimentum. Etiam venenatis nibh nec dui ullamcorper a tempus lectus consectetur.
                                Vestibulum ultricies ultricies mi eget viverra. Nunc non nunc neque. Fusce pulvinar
                                hendrerit adipiscing. Etiam orci libero, ultricies vel dignissim at, accumsan in
                                nibh.</p>
                            <p>
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Phasellus faucibus viverra quam eu pretium. Mauris accumsan massa vel erat
                                porta pharetra. Integer at risus nisl, a ultrices mauris. Mauris sapien nibh, porta
                                at porttitor at, aliquam in nisi. Fusce arcu orci, pellentesque viverra venenatis
                                et, laoreet sit amet odio. Maecenas at arcu diam. Ut est nibh, placerat ac molestie
                                sed, sodales sit amet tortor.</p>
                            <p>
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Phasellus faucibus viverra quam eu pretium. Mauris accumsan massa vel erat
                                porta pharetra. Integer at risus nisl, a ultrices mauris. Mauris sapien nibh, porta
                                at porttitor at, aliquam in nisi. Fusce arcu orci, pellentesque viverra venenatis
                                et, laoreet sit amet odio. Maecenas at arcu diam. Ut est nibh, placerat ac molestie
                                sed, sodales sit amet tortor.</p>
                            <br />
                            <br />
                            <br />
                        </div>
                    

</asp:Content>

