﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="StaticPages.master.cs"
    Inherits="StaticPages" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32124876-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AccMaster</title>
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="css/homepage.css" rel="stylesheet" type="text/css" />
    <link rel="shourtcut icon" href="images/favicon.jpg" />
    <style type="text/css">
        .sociallinksli
        {
            display: inline;
            float: left;
            list-style: none outside none;
            padding: 4px 0 0;
        }
        .sociallinksitemtext
        {
            font-size: 8pt;
            font-weight: bold;
        }
        
        .footer-links
        {
            width: 100%;
            float: left;
            margin-top: 12px;
        }
        .footer-links ul li a
        {
            text-decoration: none;
            padding: 0px 1px 0px 1px;
        }
        .footer-links ul li
        {
            display: inline;
            text-align: center;
        }
        .footer-links ul
        {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript">
        function capitalizeMe(obj) {

            val = obj.value;
            newVal = '';
            val = val.split(' ');
            for (var c = 0; c < val.length; c++) {
                newVal += val[c].substring(0, 1).toUpperCase() +
                            val[c].substring(1, val[c].length) + ' ';
            }
            obj.value = newVal;
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <!-- header wraper start -->
        <div id="header_wraper">
            <div class="logo">
                <a href="#">
                    <img src="images/logo.png" alt="logo" /></a></div>
            <div class="header-right-box">
                <div class="menu">
                    <ul>
                        <li><a href="index.aspx" class="home">Home</a></li>
                        <li><a href="features.aspx" class="features">Features</a></li>
                        <li><a href="pricing.aspx" class="pricing">Product & Pricing</a></li>
                        <li><a href="PayOnline.aspx" class="login">Pay online</a></li>
                        <li><a href="https://www.online.accmaster.com/Default.aspx" class="login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header wraper end -->
        <div class="clr">
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <div class="compare-product" style="padding-bottom: 10px;">
            <ul>
                <li><a href="pricing.aspx">Compare Product in more details</a></li>
            </ul>
        </div>
        <div class="footer-link" style="width: 960px;">
            <div style="float: left; margin-left: 285px; vertical-align: bottom; 
                height: 30px;">
                <ul>
                    <li><a href="Privacy.aspx">Privacy </a></li>
                   <%-- <li><a href="Legal.aspx">Legal</a></li>--%>
                    <li><a href="Terms.aspx">Terms</a></li>
                    <li><a href="ContactUs.aspx">Contact us</a></li>
                    <li><a href="AboutUs.aspx">About Us</a></li>
                    <li class="last"><a href="Careers.aspx">Careers</a></li>
                 
                </ul>
            </div>
           <%-- <div style="float: right">
                <a target="_blank" href="http://www.sslshopper.com/ssl-checker.html#hostname=www.online.accmaster.com">
                    <img src="images/RapidSSL_SEAL-90x50.gif" width="90" height="50" alt="" /></a></div>--%>
        </div>
    </div>
    </div> </div> </div> </div>
    <div class="clr">
    </div>
    <!-- footer wraper start -->
    <div id="footer_wraper" style="height: 47px;">
        <div class="sytem">
            System Development Services © 2012-13</div>
        <div class="footer-links">
            <ul>
                <li style="border: 0"><a href="http://www.facebook.com/pages/AccMaster/109633595820793"
                    target="_blank" class="sociallinkslink">
                    <img alt="" src="images/facebook.png" class="sociallinksitem" /></a></li>
                <li style="border: 0"><a href="http://www.twitter.com/" target="_blank" class="sociallinkslink">
                    <img alt="" src="images/twitter.png" class="sociallinksitem" /></a></li>
                <li style="border: 0"><a href="http://www.linkedin.com/" target="_blank" class="sociallinkslink">
                    <img alt="" src="images/linkedin.png" class="sociallinksitem" /></a> </li>
                <li style="border: 0"><a href="http://www.youtube.com/user/OnlineAccMaster" target="_blank"
                    class="sociallinkslink">
                    <img alt="" src="images/youtube.png" class="sociallinksitem" /></a> </li>
            </ul>
        </div>
    </div>
    <!-- footer wraper end -->
    <div class="clr">
    </div>
    </form>
</body>
</html>
